<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>CarRentalServlet</display-name>
  	<servlet-name>CarRentalServlet</servlet-name>
  	<servlet-class>edu.uga.csci4050.group3.core.CarRentalServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>CarRentalServlet</servlet-name>
  	<url-pattern>/CarRentalServlet</url-pattern>
  </servlet-mapping>

</web-app>