<h1>Are you sure you want to delete your account?</h1>
<div class="col-sm-6 col-md-3">
	<div class="row">
		<a class="btn btn-primary" href="{{base_url}}/user/home">Back</a>
		<a class="btn btn-danger" href="{{base_url}}/user/delete">Delete Account</a>
	</div>
</div>