<ul class="nav navbar-nav navbar-right">
	<li><a href="{{base_url}}/user/register"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Register</a></li>
	<li><a href="{{base_url}}/user/login">Login</a></li>
</ul>