<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="jumbotron">
		  <h1>Are you sure?</h1>
		  <p>Do you want to continue with the following action:</p>
		  <p>{{description}}</p>
		  <p>
		  	<a href="{{url_yes}}"><button type="button" class="btn btn-danger pull-right">Yes</button></a>
		  	<a href="{{url_no}}"><button type="button" class="btn btn-default pull-right">No</button></a>
		  </p>
		</div>
	</div>
</div>