<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header">
			<h1>Action confirmation</h1>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3 class="panel-title">Please confirm the following action:</h3>
		  </div>
		  <div class="panel-body">
		    <p>Are you sure you would like to continue performing the action: "{{description}}"?</p>
		  	<div class="pad-top-10 btn-group pull-right">
		  		<a href="{{url_yes}}"><button type="button" class="btn btn-danger">Yes</button></a>
		  		<a href="{{url_no}}"><button type="button" class="btn btn-default">No</button></a>
		  	</div>
		  </div>
		</div>
	</div>
</div>