<form class="form-inline pull-right" method="GET" action="{{base_url}}/locations/filter" >
	<div class="form-group">
		<input type ="text" class="form-control" name="state" placeholder="Enter State">
	</div>
	<div class="form-group">
		<input type ="number" class="form-control" name="zipcode" placeholder="Enter zipcode">
	</div>
	<button type="submit" class="btn btn-default">Filter</button>
</form>