<tr>
	<td>{{name}}</td>
	<td>{{city}}</td>
	<td>{{state}}</td>
	<td>{{capacity}}</td>
	<td><a href="{{base_url}}/location/update?uid={{uid}}">Update</a> <a href="{{base_url}}/location/delete?uid={{uid}}">Delete</a></td>
</tr>