<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>All locations</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul class="nav nav-pills">
		  <li class="active"><a href="#">List</a></li>
		  {{{extra_options}}}
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		{{{message}}}
		<table class="table pad-top-10">
			<thead>
				<tr>
					<th>Name</th>
					<th>City</th>
					<th>State</th>
					<th>Capacity</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{{locations}}}
			</tbody>
		</table>
	</div>
</div>