<li><a href="{{base_url}}/location/update?uid={{uid}}"><span class="glyphicon glyphicon-edit"></span>&nbsp;Update details</a></li>
<li><a href="{{base_url}}/location/delete?uid={{uid}}"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remove</a></li>