<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Membership</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{{message}}}
	</div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="row">
		<a class="btn btn-default" href="{{base_url}}/user/home">Back</a>
		<a class="btn btn-primary" href="{{base_url}}/membership/purchase">{{type}}</a>
	</div>
</div>