<div class="list-group">
  <a class="list-group-item" href="{{base_url}}/locations">
  	Manage locations<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/vehicletypes">
  	Manage vehicle types<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/vehicles">
  	Manage vehicles<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/rentals">
  	Manage rentals<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/users">
  	Promote/demote users<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/payments">
  	View payment records<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/service">
  	Update service information<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
</div>