<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>All registered users</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul class="nav nav-pills">
		  <li class="active"><a href="#">List</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		{{{message}}}
		<table class="table pad-top-10">
			<thead>
				<tr>
					<th>Username</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{{users}}}
			</tbody>
		</table>
	</div>
</div>