<div class="list-group">
  <a class="list-group-item">
  	Manage locations<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item">
  	Manage vehicle types<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/vehicles">
  	Manage vehicles<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item">
  	Manage rentals<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item">
  	Promote/demote users<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item">
  	Update service fees<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
</div>