<div class="list-group">
  <a class="list-group-item" href="{{base_url}}/locations">
  	View locations<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/vehicles">
  	View available vehicles<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/reservations">
  	Manage my reservations<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/membership">
  	Manage membership<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/user/account">
  	Manage account<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
  <a class="list-group-item" href="{{base_url}}/user/delete">
  	Cancel account<span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </a>
</div>