<ul class="nav navbar-nav navbar-right">
	<li><a href="{{base_url}}/user/home"><span class="glyphicon glyphicon-home"></span>&nbsp;{{username}}</a></li>
	<li><a href="{{base_url}}/user/logout">Logout</a></li>
</ul>