<tr>
	<td>{{name}}</td>
	<td>{{daily_rate}}</td>
	<td>{{hourly_rate}}</td>
	<td>
		<a href="{{base_url}}/vehicletype/update?uid={{uid}}"><span class="glyphicon glyphicon-edit"></span>&nbsp;Update</a>
		&nbsp;
		<a href="{{base_url}}/vehicletype/delete?uid={{uid}}"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a></td>
</tr>