<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="page-header">
	<h1>Update vehicle</h1>
</div>
<div>{{{alerts}}}</div>
<form role="form" method="POST" action={{base_url}}/vehicle/update?uid={{uid}}>

  <div class="form-group">
    <label class="col-sm-2 control-label">UID</label>
      <p class="form-control-static">{{uid}}</p>
  </div>

  <div class="form-group">
    <label for="vehicleModel">Model</label>
    <input type="text" class="form-control" id="vehicleModel" name="vehicleModel" placeholder="Enter model name" value={{model}}>
  </div>
  
  <div class="form-group">
    <label for="vehicleMake">Make</label>
    <input type="text" class="form-control" id="vehicleMake" name="vehicleMake" placeholder="Enter vehicle make" value={{make}}>
  </div>
  
  <div class="form-group">
    <label for="vehicleYear">Year</label>
    <input type="number" class="form-control" id="vehicleYear" name="vehicleYear" placeholder="2013" value={{year}}>
  </div>
  
  <div class="form-group">
    <label for="vehicleTag">Tag</label>
    <input type="text" class="form-control" id="vehicleTag" name="vehicleTag" placeholder="000000" value={{tag}}>
  </div>
  
  <div class="form-group">
    <label for="vehicleMilege">Mileage</label>
    <input type="number" class="form-control" id="vehicleMileage" name="vehicleMileage"  placeholder="0" value={{mileage}}>
  </div>
  
  <div class="form-group">
    <label for="vehicleDate">Last Service Date</label>
    <input type="date" class="form-control" id="vehicleDate" name="vehicleDate" placeholder="YYYY-MM-DD" value={{lastservice}}>
  </div>
  
  <div class="form-group">
    <label for="vehicleType">Type</label>
    <select class="form-control" id="vehicleType" name="vehicleType">
    	<option selected>{{type}}</option>
    	{{{select_types}}}
    	<option value="0000-0000-0000-0000">Unknown</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="vehicleLocation">Location</label>
    <select class="form-control" id="vehicleLocation" name="vehicleLocation">
    	<option selected>{{location}}</option>
    	{{{select_locations}}}
    	<option value="0000-0000-0000-0000">Unknown</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary pull-right">Update</button>
</form>
</div>
</div>