<div class="row">
	<div class="col-md-12">
		{{{message}}}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>All Vehicle Types</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills">
		  <li class="active"><a href="#">List&nbsp;<span class="glyphicon glyphicon-list"></span></a></li>
		  <li><a href="{{base_url}}/vehicletype/create">Create&nbsp;<span class="glyphicon glyphicon-plus"></span></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Daily Price</th>
					<th>Hourly Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{{types}}}
			</tbody>
		</table>
	</div>
</div>