<div class="col-md-12">
	<div class="thumbnail">
		<h3>{{model}}</h3>
		<p>Year: {{year}}</p>
		<p>Make: {{make}}</p>
		<p>Type: {{type}}</p>
		<p>Location: <a href="{{base_url}}/location/{{location_uid}}">{{location}}</a></p>
	</div>
	<div>
		<p>{{messages}}</p>
	</div>
	<div>
		<p>{{{rental_dates}}}</p>
	</div>
</div>