<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Vehicle rental overview</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h4>Selected vehicle:</h4>
		<p>This is the vehicle that will be used when looking for available times:</p>
		{{{vehicle_card}}}
	</div>
	<div class="col-md-8">
		<div class="alert alert-warning"><b>Oh no!</b> This vehicle is not available at the times you selected</div>
		
		<h4>Other vehicles that might be available:</h4>
		
		{{{alternate_vehicles}}}
	</div>
</div>