<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>{{model}}</h3>
		<p>Year: {{year}}</p>
		<p>Make: {{make}}</p>
		<p>Type: {{type}}</p>
		<p>Location: <a href="{{base_url}}/location?uid={{location_uid}}">{{location}}</a></p>
		<ul class="btn-group">
			<a class="btn btn-primary" href="{{base_url}}/rent?uid={{uid}}">Rent</a>
			<a class="btn btn-default" href="{{base_url}}/vehicle/update?uid={{uid}}">Update</a>
			<a class="btn btn-danger" href="{{base_url}}/vehicle/delete?uid={{uid}}">Remove</a>
		</ul>
	</div>
</div>