<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>{{model}}</h3>
		<p>Year: {{year}}</p>
		<p>Make: {{make}}</p>
		<p>Type: {{type}}</p>
		<p>Location: <a href="{{base_url}}/location?uid={{location_uid}}">{{location}}</a></p>
		<a class="btn btn-primary" href="{{base_url}}/rent?uid={{uid}}">Rent</a>
	</div>
</div>