@CHARSET "UTF-8";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	position:absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	overflow:hidden;
  /*height: 100%;
  width: 100%;*/
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  margin-bottom: 15%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  /*height: 100%;*/
  background-color: #777;
}
.carousel-inner > .item > img {
  /*position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: auto;
  height: 100%;*/
}

/* TOOLS */

.box-10 {
	height: 10px;
}

.pad-top-10 {
	padding-top: 10px;
}